/*
  @file css/components/loader.css
  @description Contains styles for the loading spinner.
*/

.loader {
  width: 48px;
  height: 48px;
  border-radius: 50%;
  border: 4px dashed var(--primary-color);
  animation: material-spin 3s linear infinite;
  margin: 40px auto;
}

@keyframes material-spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

