/*
  @file css/base/base.css
  @description Contains general body styles.
*/

body {
  margin: 0;
  background-color: var(--bg-color-light);
  color: var(--text-color-dark);
  font-family: var(--font-secondary), sans-serif;
  padding-top: 12vh;
}

/* Class to prevent scrolling when a modal is open */
body.modal-open {
  overflow: hidden;
}
